# Instructor .gitignore
*.d
test1
test2
test3
test4
test5
test-queue
libuthread.a

# Git bundles
*.bundle

# Eclipse files
*.cproject
*.project
*.settings
# Dumped cores
core

# OS X Hidden Files
*.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
